div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  padding-left: 0;
  padding-right: 20px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FD4;
}

input.star-1:checked ~ label.star:before { color: #F62; }

input.star-2:checked ~ label.star:before { color: #E68C1A; }

input.star-3:checked ~ label.star:before { color: #CCB311; }

input.star-4:checked ~ label.star:before { color: #B3D909; }

input.star-5:checked ~ label.star:before { color: #99FF00; }


label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.poster div.stars {
  position: absolute;
  bottom: -30px;
  left: 45px;
}