@mixin pseudo($display: block, $pos: absolute, $content: '')
	position: relative
	&:after, &:before
		content: $content
		display: $display
		position: $pos

@function calculateRem($size)
	$remSize: $size / 16px
	@return $remSize * 1rem

@mixin font-size($size) 
	font-size: $size
	font-size: calculateRem($size)

@mixin center
	display: block
	margin-left: auto
	margin-right: auto
	float: none

@mixin background-image($img-uri, $cover:false, $background-top:"center", $background-left:"center")
	background: url($img-uri) no-repeat unquote($background-top) unquote($background-left)
	background-size: 100%
	@if $cover
		-webkit-background-size: cover
		-moz-background-size: cover
		-o-background-size: cover
		background-size: cover  

@mixin rectangle($x, $y:$x)
	width: $x
	height: $y

@mixin clearfix
	&:after 
		content: ""
		display: table
		clear: both

@mixin placeholder($color)
	&::-webkit-input-placeholder /* Chrome/Opera/Safari */
		color: $color
	
	&::-moz-placeholder /* Firefox 19+ */
		color: $color
	
	&:-ms-input-placeholder /* IE 10+ */
		color: $color
	
	&:-moz-placeholder /* Firefox 18- */
		color: $color

@mixin flex($direction:"row", $align-items:"center", $justify-content:"center", $wrap:"wrap")
	display: flex
	flex-direction: unquote($direction)
	align-items: unquote($align-items)
	justify-content: unquote($justify-content)
	flex-wrap: unquote($wrap)

@mixin gradient-background($gradient, $hover)
	position: relative
	z-index: 2
	background: transparent
	transition: all .3s ease-in-out

	&::before, &::after
		content: ''
		background-size: cover
		background-position: center
		position: absolute
		overflow: hidden
		display: block
		left: 0
		top: 0
		width: 100%
		height: 100%
		border-radius: 50px
		transition: opacity .2s
		z-index: -1

	&::before
		background-image: unquote($gradient)

	&::after
		opacity: 0
		background: unquote($hover)
		transition: opacity .4s .2s, background .4s

	&:hover
		color: rgba(255, 255, 255, 1)

		&::after
			opacity: 1

