@import 'partials/_variables'
@import 'partials/_mixins'

.section__thumbs
	min-height: 400px
	background: $background_darker
	position: relative
	z-index: 1

	padding-top: 30px
	padding-bottom: 30px

	.section__thumbs_slick
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: flex-start

	.section__thumbs_poster
		max-width: 234px
		border: 1px solid white
		box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, .3)
		margin: 20px

		img
			width: 100%
			display: block