@import 'partials/_reset'
@import 'partials/_variables'
@import 'partials/_mixins'
@import 'partials/_typo'

@import 'index'
@import 'movies'

::selection
	background: $background_selection

a
	color: $text_dark
	text-decoration: none
	transition: all .25s ease-in-out

	&:hover
		color: $text_hover

body
	position: relative
	background: $background_dark
	color: $text_dark
	font-family: 'Ubuntu', sans-serif
	max-width: 100vw
	overflow-x: hidden
	transition: all .25s ease-in-out
	margin-bottom: 45px

	&.overflow_y_hide 
		overflow-y: hidden

.fa
	margin-right: 10px

.heading
	color: $text_black
	font-weight: bold

	&.h1
		font-size: 60px
		color: $text_white
		text-shadow: 0px 3px 10px rgba(0, 0, 0, .8)

		@media (max-width: 600px)
			font-size: 40px

		@media (max-width: 450px)
			font-size: 28px

	&.h2
		font-size: 28px

	&.h3
		font-size: 20px

.btn_group
	padding: 0
	border-radius: 50px
	display: inline-block
	transition: all .3s ease-in-out
	outline: 0
	box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, .5)
	position: relative


	&::before, &::after
		content: ''
		background-size: cover
		background-position: center
		position: absolute
		overflow: hidden
		display: block
		left: 0
		top: 0
		width: 100%
		height: 100%
		border-radius: 50px
		transition: opacity .1s
		z-index: -1

	&::before
		background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%)

	&::after
		opacity: 0
		background: #D41872
		transition: opacity .2s .1s, background .2s

	.btn
		box-shadow: none!important
		background: none

		&:hover
			background: $text_hover

		&::before, &::after
			background: none

		&.left
			border-radius: 50px 0 0 50px

		&.right
			border-radius: 0 50px 50px 0
			position: relative
			margin-left: -4px

			&::before
				content: ""
				position: absolute
				top: 10%
				left: 0px
				height: 80%
				width: 1px
				background: $text_white

			.fa
				margin: 0

.btn
	position: relative
	z-index: 2
	padding: 10px 20px
	cursor: pointer
	color: $text_white
	font-weight: bold
	background-color: $yellow
	border-radius: 50px
	display: inline-block
	outline: 0
	box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, .5)
	background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%)
	background: transparent
	transition: all .3s ease-in-out

	@include gradient-background("linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%)", $text_hover)

	&:active
	    box-shadow: inset 0 3px 5px rgba(0,0,0,.125), 0px 5px 15px 0 rgba(0, 0, 0, .5)

.play
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: calc(100% - 72px)
	transition: all .25s ease-in-out
	display: flex
	align-items: center
	justify-content: center

	@media (max-width: 450px)
		height: calc(100% - 182px)
	
	a
		width: 50px
		overflow: visible
		
		svg
			padding: 10px

			circle
				stroke: $background_darker
				transition: all .25s ease-in-out

			polygon
				fill: $background_darker
				transition: all .25s ease-in-out

		&:hover
			transform: scale(1.1)

			circle
				stroke: $text_hover
				filter: url(#dropshadow)

			polygon
				fill: $text_hover
				filter: url(#dropshadow)

.flex
	display: flex

	@media (max-width: 450px)
		flex-direction: column
		justify-content: center
		align-items: center

.text
	color: $text_dark
	font-size: 16px
	line-height: 25px

	&.bold
		color: $text_black
		font-weight: bold

.container, .inner_container	
	max-width: 1200px
	padding: 15px
	margin-left: auto
	margin-right: auto

.inner_container
	padding: 15px
	padding-top: 30px;

	h2
		color: $text_black

	.container
		padding-left: 0!important
		padding-right: 0!important

.header
	position: fixed
	width: 100%
	top: 0
	left: 0
	z-index: 9
	transition: all .25s ease-in-out

	@media (max-width: 600px)
		display: none
		height: 0px!important

	.container
		display: flex
		align-items: center
		justify-content: space-between

	.header__logo
		height: 100%

		img
			height: 100%
			display: block

	.header__nav
		ul
			max-width: 400px
			list-style: none
			display: flex
			align-items: center
			justify-content: flex-end
			padding: 40px 20px
			padding-right: 0
			transition: all .25s ease-in-out

			li
				padding-left: 20px
				a 
					padding: 5px 10px
					font-size: 16px
					letter-spacing: 1px
					font-weight: bold
					transition: all .25s ease-in-out
					text-shadow: 0px 3px 10px rgba(0, 0, 0, .8)
					color: #fff

					&:hover
						color: $text_hover

	&.fixed 
		background: $background_darker
		box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);

		.btn, .btn_group
			box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, .2)
		
		.btn
			&:active
			    box-shadow: inset 0 3px 5px rgba(0,0,0,.125), 0px 3px 10px 0 rgba(0, 0, 0, .2)


		.header__nav
			ul
				padding: 19px 0px 17px;
				li
					a
						color: $text_black
						text-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)

						&:hover
							color: $text_hover

.section__hero
	position: relative
	height: 65vw
	max-height: 600px
	width: 100%
	overflow: hidden
	z-index: 0

	@media (max-width: 450px)
		height: 80vw
		min-height: 360px

	.section__hero_movie
		position: absolute
		z-index: -2
		width: 100%
		height: 100%
		display: flex;
		flex-direction: column
		justify-content: flex-end
		align-items: flex-start
		display: none

		&:first-child
			display: flex

		.movie__backdrop
			position: fixed
			width: 100%
			height: 528px
			top: 0
			left: 0
			z-index: -5
			overflow: hidden

			@media (max-width: 450px)
				height: calc(100% - 182px)

			img
				width: 100%
				display: block

			.movie__overlay
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				z-index: 99
				background: rgba(0, 0, 0, 0.1)

				&::before
					content: ""
					display: block
					position: absolute
					width: 100%
					height: 100%
					top: 0
					left: 0
					background: url(http://s14.directupload.net/images/111129/44ga9qid.png)
					transition: all .5s ease-in-out	


		.movie__title
			display: block
			width: 100%
			max-width: 1170px
			text-align: left
			margin: 0 auto 85px
			text-shadow: 0px 3px 10px rgba(0, 0, 0, .8)
			color: $text_white
			font-weight: bold

			@media (max-width: 600px)
				margin-bottom: 30px

			@media (max-width: 450px)
				margin-bottom: 10px

			> *
				text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px


			a
				color: $text_white

				&:hover
					color: $text_hover

		.movie__details
			width: 100%
			min-height: 72px
			background: $background_dark
			color: $text_light
			box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.4)
			transition: all .25s ease-in-out
			position: relative

			.container
				display: flex
				justify-content: space-between
				align-items: center
				flex-wrap: wrap

				@media (max-width: 700px)
					justify-content: space-around

				@media (max-width: 450px)
					flex-direction: column
					justify-content: center

			p
				
				margin: 10px 0
				margin-right: 50px
				text-shadow: 0px 3px 10px rgba(0, 0, 0, .8)

				@media (max-width: 450px)
					margin-right: 0

.section__movie
	background: $background_darker
	position: relative

	.container
		padding-top: 67px
		padding-bottom: 67px
		display: flex
		align-items: flex-start
		justify-content: space-between	
		flex-wrap: wrap

		@media (max-width: 425px)
			flex-direction: column
			justify-content: center
			align-items: center

			> * 
				max-width: 370px
				margin-bottom: 20px
				width: 100%

	.section__movie_poster
		max-width: 234px
		box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, .3)

		img
			width: 100%
			display: block

	.section__movie_details
		width: 370px

		@media (max-width: 450px)
			max-width: 370px
			width: 100%

		.row
			width: 100%
			margin-bottom: 20px
			display: flex

			.text
				display: inline-block
				width: 62%

				&.bold
					width: 38%
					padding-right: 10px

	.section__movie_info
		width: 100%
		width: 425px
		color: $text_dark

		@media (max-width: 450px)
			max-width: 370px
			width: 100%

		.heading
			margin-bottom: 20px

.section__reviews
	background: $background_darker

	.section__reviews_top
		max-width: 1200px
		padding: 15px
		margin: auto
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap

		.btn
			box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2)

	.container
		display: flex
		align-items: flex-start
		justify-content: space-between
		flex-wrap: wrap

	.section__reviews_review
		width: 100%
		max-width: 580px
		min-height: 280px
		background: #ffffff
		margin-bottom: 15px
		padding: 40px
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05)
		border-radius: 5px

		.review_header
			display: flex
			width: 100%
			justify-content: space-between
			align-items: flex-end
			padding-bottom: 20px
			margin-bottom: 20px
			border-bottom: 1px solid lighten($text_light, 15%)

			.review_rating_container
				display: flex
				align-items: center
				justify-content: flex-end

				.review_rating
					margin-right: 20px

					.fa-star
						color: $text_hover

					.bold
						font-weight: 600

			.review_header_reactions
				display: flex

				.review_reaction
					margin-left: 10px

					.fa
						margin: auto
						display: block

					p
						font-size: 12px
						margin-top: 5px
						text-align: center

					> *
						display: block
						margin: auto

.section__box_shadow
	position: relative
	z-index: 1
	box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.2), 0px 5px 20px 0px rgba(0, 0, 0, 0.2)

.footer
	text-align: center
	color: $text_dark
	background: $background_dark
	position: fixed
	height: 45px
	z-index: -1
	bottom: 0
	left: 0
	width: 100%

	> div
		padding: 10px
		background: $background_dark
		width: 100%
		height: 100%
		text-shadow: 0px 3px 10px rgba(0, 0, 0, .8)


.modal__box_container
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	background: rgba(0, 0, 0, 0.6)
	z-index: 99
	display: none

	.modal__box_inner
		width: 100%
		max-width: 400px
		min-height: 400px
		background: $background_darker
		padding: 30px 20px
		border-radius: 5px
		box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.8)
		position: relative
		display: none

		&.login_form_login
			display: block

		.close
			position: absolute
			top: 15px
			right: 15px
			width: 30px
			height: 30px

			&::after
				display: inline-block
				content: "\00d7" /* This will render the 'X' */
				height: 100%
				width: 100%
				font-size: 50px
				line-height: 25px
				color: $text_light
				cursor: pointer
				transition: all .25s ease-in-out

			&:hover
				&::after
					color: $text_dark

		.heading
			text-align: center
			margin-bottom: 30px

		.form
			max-width: 300px
			padding: 20px
			margin: auto
			display: flex
			flex-direction: column

			label, input
				width: 100%
				font-size: 18px
				margin-bottom: 20px

			label
				margin-bottom: 0

			span
				font-size: 12px
				color: $red
				height: 15px
				transition: all .25s ease-in-out

			input, textarea, select
				display: block
				height: 40px
				border: 2px solid #bdd1e3
				border-radius: 5px
				padding: 0 10px
				transition: all .25s ease-in-out

				&.error
					border-color: $red

			textarea
				max-width: 260px
				width: 100%
				min-height: 200px
				font-family: 'Ubuntu', sans-serif
				padding: 5px

			select
				display: inline-block
				margin: 15px 0

			.btn
				margin-top: 30px
				font-size: 16px
				box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2)

		.switch_forms
			text-align: center
			transition: all 0.25s ease-in-out
			width: 100%
			display: block

			&:hover
				text-decoration: underline



.seat__reservation

	.platno
		height: 20px
		width: 100%
		border-radius: 50%
		border: 5px solid $text_hover
		border-right: 3px solid $text_hover
		border-left: 3px solid $text_hover
		position: relative
		margin-bottom: 30px

		&::after
			content: ''
			position: absolute
			width: calc(100% + 6px)
			height: calc(50% + 5px)
			left: -3px
			bottom: -5px
			background: $background_darker

	.seats__container
		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-start

		.seats__container_row
			display: flex
			align-items: center
			justify-content: center

			.seats__container_seat
				width: 30px
				height: 30px
				margin: 5px 3px
				overflow: hidden
				cursor: pointer
				border-radius: 5px		

				&:nth-child(3)
					margin-right: 25px

				input
					display: none
					transition: all .2s ease-in-out

					&:checked + label
						background: $text_hover
						color: $text_black

					&:disabled
						&+ label
							background: lighten($text_hover, 40)
							color: $text_light

				label
					display: block
					width: 100%
					height: 100%
					border: none
					outline: none
					background: #d8d8d8
					cursor: pointer
					text-transform: uppercase
					letter-spacing: 1px
					line-height: 30px
					text-align: center
					font-size: 14px
					transition: all .2s ease-in-out

					&:hover
						background: $text_hover
						color: $text_white

