@import 'partials/_variables'
@import 'partials/_mixins'

.section__greybox
	height: 128px
	background: $background_dark

.section__movies
	background: $background_darker
	position: relative
	z-index: 1

	.container
		display: flex
		flex-wrap: wrap
		justify-content: flex-start
		align-items: flex-start

	.section__movies_movie
		width: 187px
		height: 280px
		box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, .3)
		margin: 2%
		position: relative

		&.add_movie
			display: flex
			align-items: center
			justify-content: center
			cursor: pointer

			.fa
				margin: 0
				transition: all .25s ease-in-out
				color: $text_light

			&:hover
				.fa
					color: $text_hover

		.movie_link_container
			position: absolute
			bottom: 0
			left: 0
			display: flex
			justify-content: center
			align-items: center
			width: 100%
			height: 50%

			.movie_link
				opacity: 0
				transition: all 0.25s ease-in-out

		.slideshow_link
			position: absolute
			top: 20px
			left: 20px
			color: $green
			opacity: 0
			transition: all ease-in-out .25s
			text-shadow: 0 0 10px black

			&:hover
				color: darken($green, 10%)

			.fa
				margin: 0

		.delete_link
			position: absolute
			top: 20px
			right: 20px
			color: $red
			opacity: 0
			transition: all ease-in-out .25s
			text-shadow: 0 0 10px black

			&:hover
				color: darken($red, 10%)

			.fa
				margin: 0

		&:hover
			.movie_link
				opacity: 1

			.delete_link
				opacity: 1

			.slideshow_link
				opacity: 1

		img
			width: 100%
			display: block
			height: 100%